<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BLOG</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/lib/fonts/css/font-awesome.min.css">
<link rel="stylesheet" href="/lib/layer/layer.css">
<link rel="stylesheet" href="/lib/layer/layer.ext.css">

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/cookies/jquery.cookie.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/layer/layer.js"></script>
<script src="/lib/socket.io/socket.io.js"></script>

<link href="/poker/poker.css" rel="stylesheet" >
<script src="/poker/data.js"></script>
<script src="/poker/poker.js"></script>